defaults
	log global
	mode tcp
	timeout connect 10s
	timeout client 36h
	timeout server 36h
	balance leastconn

{% if groups["forgejo"] | length > 0 %}
listen forgejo_ssh
	bind *:2499
	option tcp-check
	tcp-check expect rstring SSH-2.0-OpenSSH.*
{% for host in groups["forgejo"] %}
	server {{ host }} {{ host }}:2498
{% endfor %}
{% endif %}
