$TTL    604800
@       IN      SOA     {{ dyndns_domain }}. {{ email }}. (
                              3         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
ns IN A {{ local_ip }}
@       IN      NS      localhost.
@       IN      A       {{ local_ip }}
{{ dyndns_domain }} IN A {{ local_ip }}
