# vim: ft=yaml
---

version: "3"

services:
{% if "gitea" in group_names %}
  gitea:
    network_mode: host
    container_name: gitea
    image: gitea/gitea:latest
    environment:
      - USER=gitea
      - USER_UID={{ user_gitea.uid }}
      - USER_GID={{ user_gitea.group }}
      - GITEA__server__SSH_PORT=2499
      - GITEA__server__SSH_LISTEN_PORT=2499
      - GITEA__service__DISABLE_REGISTRATION=true
      - GITEA__server__DOMAIN={{ gitea_domain }}
      - GITEA__server__SSH_DOMAIN={{ gitea_domain }}
    restart: unless-stopped
    volumes:
      - {{ dataroot }}/gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro

{% endif %}
