# vim: ft=yaml
---

version: "3"

networks:
  gitea:
    driver: bridge

services:
{% if "gitea" in group_names %}
  gitea:
    container_name: gitea
    image: gitea/gitea:latest
    environment:
      - USER_UID={{ user_gitea.uid }}
      - USER_GID={{ user_gitea.group }}
      - GITEA__service__DISABLE_REGISTRATION=true
      - GITEA__server__DOMAIN={{ gitea_domain }}
      - GITEA__server__SSH_DOMAIN={{ gitea_domain }}
    ports:
      - "3000:3000"
      - "2498:22"
    restart: unless-stopped
    volumes:
      - {{ dataroot }}/gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    networks:
      - gitea

{% endif %}
