{% if "website" in group_names %}
www.{{ domain }} {
	root * {{ website_path }}
	file_server
}
{% endif %}

{% if groups["gitea"] %}
{{ gitea_domain }} {
	reverse_proxy {{ groups["gitea"][0] }}:3000
}
{% endif %}
