daemon=300
syslog=yes
mail=root
mail-failure=root
pid=/var/run/ddclient.pid
protocol=dyndns2
use=web, web=https://ip.me
ssl=yes  # yes = use https for updates
server=ipv4.nsupdate.info
login={{ dyndns_domain }}
password='{{ ddclient_pass }}'
{{ dyndns_domain }}
